/*homework wk1 - Personal Bio  */
body {
    box-sizing: border-box;
}

/* stylings for the main body */
body {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 24px;
    line-height: 32px;
    margin: auto;
    color: #4b4a4a;
    background-image: url("../Images/codebackground.png");
    background-attachment: fixed;
    background-size: cover;
}

p {
 font-size: 18px;
}

h1 {
    font-size: 48px;
    font-weight: bold;

}

/* top of the page with name & links to other pages on this site */
header {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    padding: 0px;
    font-size: 24px;
    margin: 0px;
    width: 100%;
    height: 100px;
    background-color: #777777;
    border-bottom: solid 3px;
    border-bottom-color: black;
}

/* name box in header */
.name {
    float: left;
    width: 33.3%;;
    height: 73%;
    padding-top: 30px;
    color: white;
    font-size: 60px;
    position: relative;
    left: 10%;
    text-align: center;
    background-color: black;
}

/* main container on all pages */
.container {
    display: block;
    width:960px;
    margin:auto;
}

/* nav links in header */
.headerlinks {
    float: right;
    position: relative;
    top: 20px;
    right: 10%;
    background-color: black;
    border: solid 2px black;
   
}

/* nav links in header */
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #777777;
}

li {
    float: right;
}

li a {
    display: block;
    float: left;
    color: white;
    padding: 12px 10px;
    text-decoration: none;
}
/* adding action to link tabs when mouse hovers over */
li a:hover {
    background-color: #777777;
    color: black;
    opacity: 1;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
/* shows what page you are on */
.active {
    background-color:	#265B93;
    color: black;
    
}
/* clears bottom of page */
.container::after {
    content: "";
    display: block;
    clear: both;
}
/* Main container header in index.html */
.About-Tim, .portfolio {
    float: left;
    margin-top: 30px;
    padding: 10px;
    width: 60%;
    text-align: justify;
    background-color: #777777;
    color: black;
    border: solid 3px;
    border-color: #dddddd;
}

/* main container on all pages */
.headername {
    font-size: 30px;
    padding: 10px;
    color: black;
    border-bottom: solid 3px #dddddd;
}
/* main container on index.html */
.container2 {
    margin: 10px;
    padding: 10px;
}

/* main container on contact page */
.connect {
    float: right;
    width: 30%;
    margin-top: 30px;
    overflow: auto;
    Text-align: center;
    color: black;
    font-size: 12px;
    background-color: #777777;
    border:solid 3px;
    border-color: #dddddd;
}

/* main container on content page */
.cwm {
    padding-top: 15px;
    font-size: 24px;
    border-bottom: solid 3px #dddddd;
    margin-left: 15px;
    margin-right: 15px;
}

/* main container on content page */
.container3 {
    border-color: #777777;
    padding-top: 20px;
    margin: 10px;
}

/* Main container on index.html */
#Timprofile {
    float: left;
    height: 250px;
    width: 250px;
    border:  solid 3px;
    border-color: #dddddd;
    margin: 20px;
}

/* footer on all pages */
#copyright { 
    width: 100px;
    height: 50px;
    float: left;
    position: relative;
    left: 399px;
    bottom: 3px
}

/* footer on all pages */
#copyright1 {
    width: 15px;
    height: 15px;
    float: left;
    position: relative;
    top: 21px;
    left: 390px;
}

/* main container on contact and portfolio pages */
.portfolio {
    float: left;
    margin-top: 30px;
    padding: 10px;
    width:66%;
    text-align: justify;
    background-color: #777777;
    border: solid 3px;
    border-color: #dddddd;
}
/* main container on portfolio page */
.portfolioimages {
    float: left;
    width: 85%;
    margin: 10px;
    padding: 30px;
}

/* images on portfolio page */
.floating-box {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 3px solid balck;
}

/* images on portfolio page */
.Games, .elementC, .trivia, .giphy, .javascript  {
    background-color:	#265B93;
    color: white;
    float: left;
    text-align: center;
    width: 200px;
    height: fit-content;
    position: relative;
    line-height: 23px;
    bottom: 75px;
}

footer {
    
    width: 100%;
    height: 44px;
    bottom: 0;
    padding: 15px;
    margin-top: 30px;

    margin-left: 0px;
    background-color: #666666;
    border-top: solid 3px;
    border-top-color: black;
}

/* form box on contact page */
.contactimages {
    float: left;
    width: 85%;
    padding: 30px;
    color: black;

}

/* contact page main container */
#namebox {
    width: 100%;
    height: 30px;
    font-size: 24px;
    position: relative;
    bottom: 2px;
    right: 2px;
    color: black;
}

/* contact page main container */
#emailbox {
    width: 100%;
    height: 30px;
    font-size: 24px;
    position: relative;
    bottom: 2px;
    right: 2px;
    color:black;
}

/* contact page main container */
#messagebox {
    width: 100%;
    height: 300px;
    line-height: 30px;
    font-size: 24px;
    color: black;
}

/* contact page main container */
.textarea {
    width: 100%;
    height: 300px;
}

/* footer text  */
h3 {
    font-size: 16px;
    float: left;
    position: relative;
    top: 11px;
    left: 394px;
}
/* moves the header for desktop and lg laptops */
@media screen and (max-width: 1060px) {
    .headerlinks {
        right: 5%;
    }
    .name { 
        left: 5%;
    }
}
/* changes to the header and main container for laptops */
 @media screen and (max-width: 980px) {
    .name {
        left: 0px;
        font-size: 40px;
        height: 58px;
    }
    .container {
        width: 100%;
}
    .About-Tim, .portfolio, {
        width: 60%;
    }
    .connect {
        float: right;
        width: 30%;
 }
    .headerlinks {
        right: 0px;
        top: 14px;
    } 
    header {
        height: 85px;
    }
 }
/* changes that are made for lg tablets / sm laptops */
 @media screen and (max-width: 840px) {
     .About-Tim, .connect, .portfolio {
         width: 100%;
         margin: auto;
     }
 }
 
 /* changes that are made for lg phones  */
 @media screen and (max-width: 768px) {
     .About-Tim, .connect, .portfolio {
         width: 100%;
         margin-left: 0;
         margin-right: 0;
         float: left;
         margin-top: 15px;
     }
     .About-Tim {
         text-align: left;
     }
     #copyright1 {
        left:165px;
    }
    h3 {
        left: 170px;
    }

    #copyright {
        left:180px;
    }
 }
  /*  changes that are made for phones */
 @media screen and (max-width: 640px) {
    .name {
        width: 100%;
        Font-size: 60px;
    }
    .headerlinks{
         width: 100%;
         content: center;
         padding-left: 25%;
         padding-right: 25%;
         }
    #copyright1 {
        left:115px;
    }
    h3 {
        left: 120px;
    }

    #copyright {
        left:130px;
    }
}